<!DOCTYPE html>
<html>
<head>
    <title>lalal</title>
    <link href="/css/bootstrap.css" rel='stylesheet' type='text/css'/>
    <link href="/css/main.css" rel='stylesheet' type='text/css'/>
    <link href="/css/blog.css" rel='stylesheet' type='text/css'/>
    <script src="/js/jquery.min.js"></script>

</head>
<body>
<div class="col-md-2 sidebar">
    <div class="sidebar_top">
        <h1><a href="/">Blog<span> Dong</span></a></h1>
    </div>
    <div class="top-navigation">
        <div class="t-menu">菜单</div>

        <div class="t-img">
            <img src="images/lines.png" alt="" />
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="drop-navigation">
        <div class="top-menu">

            <ul>
                <li><a href="/">主页</a></li>
                <li  class="active"><a href="/blog">写博客</a></li>
                <!--<li><a href="/NodeJS">NodeJS</a></li>-->
                <!--<li><a href="/Environment">环境搭建</a></li>-->
                <!--<li><a href="/About">关于我</a></li>-->
                <!--<li><a href="/comment">留言</a></li>-->
            </ul>
        </div>
        <script>
            $( ".top-navigation" ).click(function() {
                $( ".drop-navigation" ).slideToggle( 300, function() {
                    // Animation complete.
                });
            });
        </script>

    </div>
</div>
<div class="col-sm-10 col-sm-offset-3 col-md-10 col-md-offset-2">
    <div class="news">
        <div class="news-sec">
            <div class="news-top">
                <div class="col-md-12 news-1">
                    <a href=""><h5><%= blog_detail.title %></h5></a>
                    <h6><%= blog_detail.time %></h6>
                    <div class="blog-body">
                        <div class="blog-content">
                            <%= blog_detail.content %>
                        </div>
                    </div>
                    <!--<p align="center">如果该文章对你有帮助，请点赞。</p>-->
                    <p align="center">
                        <a href="/blog?id=<%= parseInt(blog_detail.id) %>" class="btn btn-info btn-lg thumbsUp">编辑</a>
                    </p>
                    <div class="news-footer">
                        <h6 class="post-footer">
                            分类：<%= blog_detail.classify %> | 评论：未开放 | 浏览：11 | 点赞：11|
                        </h6>
                    </div>

                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
</body>
</html>