<!DOCTYPE html>
<html>
  <head>
    <title>个人博客</title>
    <link href="/css/bootstrap.css" rel='stylesheet' type='text/css'/>
    <link href="/css/main.css" rel='stylesheet' type='text/css'/>
    <link href="/css/index.css" rel='stylesheet' type='text/css'/>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/underscore-noflect.js"></script>
  </head>
  <body>
  <div class="col-md-2 sidebar">
    <div class="sidebar_top">
      <h1><a href="/">Blog<span> Dong</span></a></h1>
    </div>
    <div class="top-navigation">
      <div class="t-menu">菜单</div>

      <div class="t-img">
        <img src="images/lines.png" alt="" />
      </div>
      <div class="clearfix"> </div>
    </div>
    <div class="drop-navigation">
      <div class="top-menu">

        <ul>
          <li class="active"><a href="/">主页</a></li>
          <li><a href="/blog">写博客</a></li>
          <!--<li><a href="/NodeJS">NodeJS</a></li>-->
          <!--<li><a href="/Environment">环境搭建</a></li>-->
          <!--<li><a href="/About">关于我</a></li>-->
          <!--<li><a href="/comment">留言</a></li>-->
        </ul>
      </div>
      <script>
          $( ".top-navigation" ).click(function() {
              $( ".drop-navigation" ).slideToggle( 300, function() {
                  // Animation complete.
              });
          });
      </script>

    </div>
  </div>
  <div class="col-sm-10 col-sm-offset-3 col-md-10 col-md-offset-2">
    <div class="news">
      <div class="news-sec">
        <div class="news-top" id="getAllArticle">
          <% for( var i=0,max=data.length;i<max;i++) { %>
            <div class="col-md-11 news-1">
              <a href="#"><h5>#<%= (currrent_page-1)*10+i+1 %><%= data[i].title %></h5></a>
              <h6><%= data[i].time %></h6>
              <div class="post-body">
                <p>
                    <%= data[i].content %>
                </p>
              </div>
              <div class="news-footer">
                <h6 class="post-footer">
                  分类：<%= data[i].classify %><!--| 评论：未开放--> | 浏览：11 | 点赞：11 |
                  <a href="/blog_detail?id=<%= data[i].id %>">阅读全文 ></a>
                </h6>
              </div>
            </div>
          <% } %>
        </div>
        <div class="col-sm-12">
          <nav>
            <% if(page_num>1){ %>
              <ul class="pagination">
                <li <% if(currrent_page<=1){ %> class="disabled" <% }%>><a <% if(currrent_page>1){ %> href="/?page=<%= currrent_page<=1?1:currrent_page-1%>" <% }%>>&laquo;</a></li>
                <% for(var i=1,max=page_num;i<=max;i++){ %>
                <li <% if(i==currrent_page){ %> class="active" <% }%>><a href="/?page=<%= i%>"><%= i %></a></li>
               <% } %>
                <li <% if(currrent_page>=page_num){ %> class="disabled" <% }%>><a <% if(currrent_page<page_num){ %> href="/?page=<%= currrent_page<=page_num?page_num:currrent_page+1%>" <% }%>>&raquo;</a></li>
              </ul>
            <% } %>

          </nav>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>

  <script src="text/javascript">
//      var amount = parseInt(current_page);
//      pagement = Math.ceil(amount / 10);
//      for(var i = 1; i <pagement+1;i++){
//          $(".pagination").append("<li><a href='javascript:;'>" + i +"</a></li>");
//      }
//      $(".pagination li:first").addClass("active");
//      $(".pagination li").click(function () {
//          var page = $(this).index();
//          $('#getAllArticle').html("");
//          getPage(page);
//          $(this).addClass("active").siblings().removeClass("active");
//      });
  </script>
  </body>
</html>
